body {
    margin: 0 0;
    font-family: "Courier New";
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
    /* editor-variables */
    --bg-color: rgb(50, 50, 55);
    --container-color: rgb(30, 30, 35);
    --btn-color: rgb(80, 80, 85);
    --btn-color-active: rgb(100, 100, 105);
    --margin-width: 20px;
    --library-width: 20vw;
    --toolbar-width: 8vw;
    --corner-rad: 6px;
    --bottom-margin: 8vh;
    --red-color: rgb(255, 89, 89);
    --green-color: rgb(44, 255, 149);
  
  
    background-color: var(--bg-color);
  }
  h2 {
    padding: 0px;
    margin: 0px;
  }


  /* containers */

  .editor-containers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: var(--margin-width);
    margin-bottom: var(--margin-width);
  }

  .editor-container {
    background-color: var(--container-color);
    padding-top: 0px;
    color: white;
    text-align: center;
    border-radius: var(--corner-rad);
    min-height: calc(100vh - (2 * var(--margin-width)) - var(--bottom-margin));
  }

  .library-container {
    width: var(--library-width);
  }

  .editor-window-container {
    width: calc(100% - (4 * var(--margin-width)) - var(--toolbar-width) - var(--library-width));
    color: white;
    background: white;
  }

  .toolbar-container {
    width: var(--toolbar-width);
  }


  /* library */
  .library {
    padding: 10px;
  }

  /* toolbar */
  .toolbar {
    padding: 10px;
  }
  .gate-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 400px;
    margin-left: 20px;
  }
  .gate-btn {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
  }
  .gate-svg {
    padding: 0px;
    margin: 0px;
    height: 7vh;
  }
  .gate-img {
    width: 4vw;
  }

  /* editor */
  .editor-window {
    width: 100%;
    height: calc(100vh - (2 * var(--margin-width)) - var(--bottom-margin));
  }

  /* menu */
  .menu-container {
    width: calc(100vw - (2 * var(--margin-width)));
    height: calc(var(--bottom-margin) - var(--margin-width));
    margin-left: var(--margin-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: right;
  }
  .menu-btn {
    padding: 10px;
    font-family: "Courier New";
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--corner-rad);
    width: 12vw;
    color: white;
  }
  .menu-btn:active {
    background-color: var(--btn-color-active);
  }
  .back-btn {
    position: absolute;
    left: var(--margin-width);
    width: 12vw;
    color: white;
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 10px;
    font-family: "Courier New";
    border-radius: var(--corner-rad);
    text-align: center;
  }
  .clear-btn {
    justify-self: right;
  }
  .save-btn {
    justify-self: right;
  }
  .button-container {
    position: absolute;
    right: var(--margin-width);
  }
  
