body {
    margin: 0 0;
    font-family: "Courier New";
    overflow-x: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
    /* feed-variables */
    --bg-color: rgb(50, 50, 55);
    --container-color: rgb(30, 30, 35);
    --margin-width: 20px;
    --corner-rad: 6px;
    --bottom-margin: 8vh;
    --container-color: rgb(30, 30, 35);
    --btn-color: rgb(80, 80, 85);
    --btn-color-active: rgb(100, 100, 105);
  
  
    background-color: rgb(40, 40, 45);
  }

  .containers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* nav buttons */
  .nav-container {
    background-color: rgb(40, 40, 45);
    display: flex;
    width: 20vw;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: var(--margin-width);
  }

  .nav-btn {
    padding: 20px;
    width: 15vw;
    height: 20px;
    color: white;
    background-color: var(--container-color);
    text-decoration: none;
    text-align: center;
    border-radius: var(--corner-rad);
    margin: 10px;
  }

/* feed */
.feed-container {
  background-color: rgb(40, 40, 45);
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-content: left;
}
.feed-post {
  background-color: var(--bg-color);
  width: 100%;
  border: none;
  border-radius: var(--corner-rad);
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}
.search-input {
  border-radius: var(--corner-rad);
  display: flex;
  flex-grow: 5;
  padding: 10px;
  width: 30vw;
  height: 30px;
  margin-right: 10px;
}
.search-btn {
  background-color: var(--btn-color);
    border: none;
    height: 30px;
    border-radius: var(--corner-rad);
    padding: 10px;
	text-align: center;
	justify-content: center;
	align: center;
    font-family: "Courier New";
    color: white;
    /*margin-right: 10px; */
    width: 8vw;
	display: flex;
}

.right-spacer {
	width: 20vw;
}

.search-btn:active {
  background-color: var(--btn-color-active);
}
h2 {
  background-color: var(--btn-color);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: var(--corner-rad);
}
h3 {
  background-color: rgb(40, 40, 45);
  color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: var(--corner-rad);
}
.logo {
  width: 100%;
  margin-bottom: 20px;
}

