body {
    margin: 0 0;
    font-family: "Courier New";
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
    /* editor-variables */
    --bg-color: rgb(50, 50, 55);
    --container-color: rgb(30, 30, 35);
    --btn-color: rgb(80, 80, 85);
    --btn-color-active: rgb(100, 100, 105);
    --margin-width: 20px;
    --library-width: 20vw;
    --toolbar-width: 8vw;
    --corner-rad: 6px;
    --bottom-margin: 8vh;
    --red-color: rgb(255, 89, 89);
    --green-color: rgb(44, 255, 149);
  
  
    background-color: var(--bg-color);
  }

/* menu */
.menu-container {
    width: calc(100vw - (2 * var(--margin-width)));
    height: calc(var(--bottom-margin) - var(--margin-width));
    margin-left: var(--margin-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: right;
    margin-top: var(--margin-width);
  }
  .menu-btn {
    padding: 10px;
    font-family: "Courier New";
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--corner-rad);
    width: 12vw;
    color: white;
  }
  .menu-btn:active {
    background-color: var(--btn-color-active);
  }
  .back-btn {
    position: absolute;
    left: var(--margin-width);
    width: 12vw;
    color: white;
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 10px;
    font-family: "Courier New";
    border-radius: var(--corner-rad);
    text-align: center;
  }
  .edit-btn {
    justify-self: right;
  }
  .button-container {
    position: absolute;
    right: var(--margin-width);
  }