body {
    margin: 0 0;
    font-family: "Courier New";
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
    /* editor-variables */
    --bg-color: rgb(50, 50, 55);
    --container-color: rgb(30, 30, 35);
    --btn-color: rgb(80, 80, 85);
    --btn-color-active: rgb(100, 100, 105);
    --margin-width: 20px;
    --corner-rad: 6px;
  
  
    background-color: var(--bg-color);
  }
  h2 {
    padding: 0px;
    margin: 0px;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .input-container {
    background-color: var(--container-color);
    margin: var(--margin-width);
    display: flex;
    border-radius: var(--corner-rad);
    padding: 20px;
    flex-direction: column;
  }
  label {
    color: white;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .submit-btn {
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--corner-rad);
    padding: 10px;
    margin-top: 20px;
    font-family: "Courier New";
    color: white;
  }
  button:active {
    background-color: var(--btn-color-active);
  }
  input {
    width: 30vw;
    padding: 10px;
    border-radius: var(--corner-rad);
    font-family: "Courier New";
  }
  
  .failure-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 25vh;
  }
  .fail-msg-container {
    background-color: var(--container-color);
    margin: var(--margin-width);
    display: flex;
    border-radius: var(--corner-rad);
    padding: 20px;
    flex-direction: column;
  }
  .banner {
    color: white;
  }
  .return {
    padding: 10px;
    border-radius: var(--corner-rad);
    background-color: var(--btn-color);
    margin-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  .register-btn {
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--corner-rad);
    padding: 10px;
    margin-top: 20px;
    font-family: "Courier New";
    color: white;
    height: 20px;
    text-decoration: none;
    text-align: center;
  }