body {
    margin: 0 0;
    font-family: "Courier New";
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
    /* editor-variables */
    --bg-color: rgb(50, 50, 55);
    --container-color: rgb(30, 30, 35);
    --btn-color: rgb(80, 80, 85);
    --btn-color-active: rgb(100, 100, 105);
    --margin-width: 20px;
    --library-width: 20vw;
    --toolbar-width: 10vw;
    --corner-rad: 6px;
    --bottom-margin: 8vh;
    --red-color: rgb(255, 89, 89);
    --green-color: rgb(44, 255, 149);
  
  
    background-color: var(--bg-color);
  }
  h2 {
    padding: 0px;
    margin: 0px;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .register {
    
  }